# Apps Script Web App URL (deploy google-apps-script/Code.gs as a Web App, "Anyone" access)
VITE_APPSCRIPT_URL=https://script.google.com/macros/s/AKfycbySm2xKW8cv-0UrpOv5ZRUHWLVlPLRkl86GEXK8DgtvZSiT0zSGsnSCvnc2E7rtBlWi/exec
# Google Spreadsheet ID (the long id in the sheet URL between /d/ and /edit)
VITE_SPREADSHEET_ID=10mOUOeVryYb8kiQqohcipyRvXneCEyKQQd4bO5sO0QQ
